<!DOCTYPE html>
<html lang="en">

<head>
    <title>Library RaraAvis</title>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'news/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'news/css/main.css' %}" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="body">
    <div class="container">
        <div class="row page-header">
            <center>
                <h1 class="title_page"> Library Rara Avis</h1>
                <!-- <img src="{% static 'news/img/cover.png' %}" alt="cover""> -->
            </center>
        </div>
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                    {% include "news/includes/news_list.html" %}
                {% endblock %}
            </div>
        </div>
    </div>

</body>

</html>