{% extends 'news/header.html' %}

{% block content %}
    <div class="news">
        <div class="date">
            <a class="btn btn-default" href="{% url 'news_edit' pk=new.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {{ new.date}}
        </div>
        <h1>{{ new.title }}</h1>
        <p>{{ new.text}}</p>
        <h3> Comments </h3>
        <a href="{% url 'add_comment_to_news' pk=new.pk %}", class="glyphicon glyphicon-plus"></a>
    </div>

    {% for comment in new.comments.all %}
        <br>
        <div class="comments_data">
        <strong>{{comment.author}}:</strong>
        {{comment.text|linebreaks}}
    {% empty %}
    <p>No comments here yet :(</p>
        </div>
    {% endfor %}
{% endblock %}